{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
    <h1>Crear cuenta</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nombre) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}

        <button class="btn btn-primary">Registrarse</button>
    {{ form_end(registrationForm) }}
{% endblock %}
